        <!--广告ad-->
        <div class="container ad">
            <img src="../image/ad.jpg" alt="">
        </div>


        <!--main主要内容-->
        <main class="container">
            <div class="cta">
                <div class="main-lt">
                    <table>
                        <tr>
                            <td>
                                <img src="../image/pic-one.jpg" alt="">
                                <p><a href="">你好</a></p>
                            </td>
                            <td>
                                <img src="../image/pic-two.jpg" alt="">
                                <p><a href="">我好</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../image/pic-three.jpg" alt="">
                                <p><a href="">他好</a></p>
                            </td>
                            <td>
                                <img src="../image/pic-four.jpg" alt="">
                                <p><a href="">她好</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="main-ct">
                    <ul>
                        <li><a href="">这是很多文本内容1</a></li>
                        <li><a href="">这是很多文本内容1</a></li>
                        <li><a href="">这是很多文本内容1</a></li>
                        <li><a href="">这是很多文本内容1</a></li>
                        <li><a href="">这是很多文本内容1</a></li>
                        <li><a href="">这是很多文本内容1</a></li>
                        <li><a href="">这是很多文本内容1</a></li>
                    </ul>
                </div>
                <div class="main-rg">
                    <img src="../image/file.jpg" alt="">
                </div>
            </div>
        </main>
        <script src="../plug-in/js/jquery.min.js"></script>
        <script>
            $( "[type=button]" ).on( "click", function( ev ){
            ev.preventDefault();    
            location.href = "register.html"
            }
        </script>