        {{include "head"}}
        <nav>
            <div class="container">
                <div class="cta">
                    <div class="logo">
                        <img src="../image/logo-bg.png" alt="">
                    </div>
                    <div class="anony">
                        <input type="text" placeholder="电影、音乐、读书">
                        <a href=""><img src="../image/btn.png" alt=""></a>
                    </div>
                    <div class="anony-logo">
                        <img src="../image/anony-logo.png" alt="">
                    </div>
                </div>
            </div>             
        </nav>  
