        {{include "nav"}}
        <div class="self">
            <div class="container mar">
                <div class="cta">
                    <div class="left">
                        <img src="image/pic-two.jpg" alt="">
                        <img src="image/pic-two.jpg" alt="">
                    </div>
                    <div class="center">
                        <h2>豆瓣4.0</h2>
                        <p>我们的精神角落</p>
                        <div class="two-dimnsion">
                            <span>app下载</span>
                            <a class="two-d"><span></span></a>
                        </div>
                    </div>
                    <div class="login">
                        <form action="">
                            <div class="item">
                                <input type="text" required="required" placeholder="账号">
                            </div>                        
                            <div class="item">
                                <input type="text" required="required" placeholder="密码">
                            </div>
                            <input type="submit" value="登录豆瓣"> 
                            <a href="/register">注册账号</a>                                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{include "home-main"}}