<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="刘永顺">
        <title>{{title}}</title>
    </head>
    <body>           
        <div class="register">
            <form action="">
                <input type="text" required="required" placeholder="创建账号">
                <input type="password" required="required" placeholder="创建密码">
                <input type="password" required="required" placeholder="确认密码">
                <input type="submit">
            </form>
        </div>        
        <div class="text"></div>
        <script src="b-js/jquery.min.js"></script>
        <script src="js/register.js"></script>
    </body>
</html>